@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

:root {
  --line-border-fill: #3498db;
  --line-border-empty: #e0e0e0;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f6f7fb;
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}

/** gray line **/
.progress-container::before {
  content: "";
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%; /** 100% because it is going to represent the gray empty line behind**/
  z-index: -1;
}

/** blue line **/
.progress {
  background-color: var(--line-border-fill);
  position: absolute; /** positioned absolute within the .progress-container (which is absolute) **/
  top: 50%;
  left: 0;
  transform: translateY(
    -50%
  ); /** Moves it up 50 percent -Without this, the TOP of the blue line is in the middle of the numbers. We want the MIDDLe of the line in the middle of the numbers. **/
  height: 4px;
  width: 0%; /** Width is going to start out at 0%, but we can set it to 50% if we need to see it **/
  z-index: -1; /** So our blue line is behind the circles and numbers**/
  transition: 0.4s ease; /** we want our line to transition in a certain duration, not just flip to the next one**/
}

.circle {
  background-color: white;
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--line-border-empty);
  transition: 0.4s ease; /** The border is going to change depending on where the blue line is (will pertain to the active class) **/
}

.circle.active {
  border-color: var(--line-border-fill);
}

.btn {
  background-color: var(--line-border-fill);
  color: #fff;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}
/** **/
